<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- I use leaflet maps here -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="map" style="height: calc(100svh - 18px); width: calc(100vw - 18px); box-sizing: border-box;"></div>
  </body>
    {% block content %}
      <script>
        const map = L.map("map", {
          center: [-85.683029,30.193626],
          zoom: 5
        });

        const mytilelayer = L.tileLayer(
          "http://{s}.tile.osm.org/{z}/{x}/{y}.png"
        ).addTo(map);

        const coordinates = {{ coordinates|safe }};
        const myLines = [{
            "type": "LineString",
            coordinates
        }];

        const points = {{ gas_stations_obj.gas_stations|safe }}.map((gas_station) => {
          const { coordinates: coords } = gas_station;

          return {
            "type": "Feature",
            "properties": {
                "show_on_map": true
            },
            "geometry": {
                "type": "Point",
                "coordinates": coords
            }
        }
        })

        console.log(points)

        const pointPoly = L.geoJSON(points).addTo(map);

        const features = {{ gas_stations_obj.gas_stations|safe }}.map((gas_station) => {
          const { info, coordinates: coords } = gas_station;
          const { name, price, gallons_bought } = info

          return {
            "type": "Feature",
            "properties": { name: `(${name.split(' ').splice(0, 2).join(' ').substring(0, 15)}) $${
              parseFloat(price.toFixed(2)).toLocaleString()} for ${gallons_bought.toFixed(0)}Gallons` },
            "geometry": {
              "type": "Point",
              "coordinates": coords
            }
          }
        })

        const data_points = {
          "type": "FeatureCollection",
          "name": "test-points-short-named",
          "crs": {
            "type": "name",
            "properties": {
              "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
            }
          },
          features
        };

        const pointLayer = L.geoJSON(null, {
          pointToLayer: function(feature,latlng){
            label = String(feature.properties.name)
            return new L.CircleMarker(latlng, {
              radius: 1,
            }).bindTooltip(label, {permanent: true, opacity: 0.75}).openTooltip();
            }
          });
        pointLayer.addData(data_points);
        map.addLayer(pointLayer);

        const poly = L.geoJSON(myLines, {
          style: function (geoJsonFeature) {
            return {
              fillOpacity: 0.5,
              strokeColor: "black",
              // stroke: false
            };
          }
        }).addTo(map);
        map.fitBounds(poly.getBounds());
      </script>
    {% endblock content %}
</html>